/* Parent Block Only */

.wpn-accordion {
	display: grid;
	gap: 32px;
}

.wpn-accordion__header {
	text-align: center;
	max-width: 720px;
	margin: 0 auto;
}

.wpn-accordion__nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 12px;
}

.wpn-accordion .wpn-accordion__header h2 {
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
}
